In [2]:
import numpy as np
import pandas as pd

## Punto 1

In [3]:
for i in range(0,73):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

## Punto 2

In [4]:
def Fibonacci(x):
    return ((1+np.sqrt(5))**x-(1-np.sqrt(5))**x)/(2**x*np.sqrt(5))

In [5]:
Fibonacci(73)

806515533049395.0

## Punto 3

In [6]:
df = pd.DataFrame()

In [7]:
df

Empty DataFrame
Columns: []
Index: []

In [8]:
df["t"] = np.arange(0,4.2,0.02)
df["s"] = np.sin(df.t)
df["s10"] = df.s.shift(10)
df["d"] = df.s - df.s10
df['p'] = df['d'].apply(lambda x: 1 if x>0 else 0)

In [9]:
df.to_csv('my_df.csv',sep = ';', index=False)