In [4]:
import pandas as pd
import numpy as np

## Punto 4

In [5]:
df = pd.read_csv("my_df.csv",sep=";")
df

        t         s       s10         d  p
0    0.00  0.000000       NaN       NaN  0
1    0.02  0.019999       NaN       NaN  0
2    0.04  0.039989       NaN       NaN  0
3    0.06  0.059964       NaN       NaN  0
4    0.08  0.079915       NaN       NaN  0
..    ...       ...       ...       ... ..
205  4.10 -0.818277 -0.687766 -0.130511  0
206  4.12 -0.829609 -0.702146 -0.127463  0
207  4.14 -0.840609 -0.716246 -0.124364  0
208  4.16 -0.851273 -0.730058 -0.121215  0
209  4.18 -0.861597 -0.743579 -0.118018  0

[210 rows x 5 columns]

In [8]:
df['m'] = df.groupby('p')['d'].transform('mean')

In [10]:
df_2 = df.groupby('p')['d'].sum().reset_index()
df_2

   p          d
0  0 -18.094986
1  1   9.086202